
.DS_Store

MPFoldTransition.xcodeproj/xcuserdata/mark.xcuserdatad/xcschemes/xcschememanagement.plist

MPFoldTransition.xcodeproj/project.xcworkspace/xcuserdata/mark.xcuserdatad/UserInterfaceState.xcuserstate

MPFoldTransition.xcodeproj/xcuserdata/mark.xcuserdatad/xcschemes/MPFoldTransition.xcscheme

MPFoldTransition.xcodeproj/project.xcworkspace/xcuserdata/mark.xcuserdatad/WorkspaceSettings.xcsettings

MPFoldTransition.xcodeproj/xcuserdata/mark.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

MPFoldTransition.xcodeproj/project.xcworkspace/xcshareddata/MPFoldTransition.xccheckout
